<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">First Things First</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <RadzenPanelMenu Style="background-color:black">
        <RadzenPanelMenuItem Text="General" Icon="home">
            <RadzenPanelMenuItem Text="Dashboard" Path="dashboard" Icon="dashboard" Style="background-color:black"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add Task" Path="todo" Icon="add_task" Style="background-color:black"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Reports" Path="reports" Icon="leaderboard" Style="background-color:black"></RadzenPanelMenuItem>

        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
